article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*
html5doctor.com Reset Stylesheet v1.6.1
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

header {
  height: 95vh;
  position: relative;
  background-color: #34414e;
  border-radius: 0 0 300px 0;
  margin-bottom: 5vh;
}

.topNavbar {
  height: 88px;
  border-bottom: 1px solid rgba(227, 4, 37, 0.1);
  border-radius: 0 0 300px 300px;
  position: -webkit-sticky;
  position: sticky;
  background-color: #14161E;
  z-index: 9999;
  top: 0;
}

.topNavbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.topNavbar .topNavbarLeftHalf,
.topNavbar .topNavbarRightHalf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
}

.topNavbar .topNavbarLeftHalf {
  width: 20%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.topNavbar .topNavbarLeftHalf li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 25px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  border-radius: 40px;
}

.topNavbar .topNavbarLeftHalf li a:hover {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  border-radius: 40px;
}

.topNavbar .topNavbarRightHalf {
  width: 80%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.topNavbar .topNavbarRightHalf li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 25px;
  border: 2px solid rgba(0, 0, 0, 0.04);
  margin-left: 15px;
  border-radius: 40px;
}

.topNavbar .topNavbarRightHalf li a:hover {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#323232), color-stop(40%, #3F3F3F), color-stop(150%, #1C1C1C)), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.4)), color-stop(200%, rgba(0, 0, 0, 0.25)));
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
  background-blend-mode: multiply;
}

h1, h3 {
  font-size: 8rem;
  text-align: center;
  line-height: 130px;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

h3 {
  font-size: 5rem;
  text-align: center;
}

.pageOneName {
  padding-top: 10%;
  font-size: 7rem;
}

.pageOneName .myName {
  color: #FF0266;
  font-size: 12rem;
  font-family: 'Cougrette', cursive;
  text-shadow: 0 15px 30px rgba(255, 2, 102, 0.8);
}

main {
  height: 100vh;
}

.aboutSection {
  height: 70vh;
  margin-top: 7%;
}

.aboutSectionTextAndPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutSectionText {
  font-size: 1.7rem;
  width: 70%;
  line-height: 35px;
  margin-top: 7%;
}

.aboutSectionPicture {
  width: 30%;
}

.aboutSectionPicture p {
  width: 80%;
}

.aboutSectionPicture img {
  max-height: 400px;
  border-radius: 7px;
}

.skillsSection {
  height: 70vh;
}

.topHalfIcons {
  height: 100px;
  width: 100px;
  padding: 10px;
  border-radius: 50%;
  color: blue;
  margin-bottom: 20px;
}

.topHalfIcons i {
  width: 100%;
  background-color: black;
  color: red;
  font-size: 5rem;
  height: 200px;
  width: 200px;
  padding: 20px;
  border-radius: 50%;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Spectral', serif;
  font-weight: 500;
}

p {
  color: white;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #14161E;
}
