article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}



.App {
  text-align: center;
}

/* My edit */

html {
  font-size:62.5%;
}

.wrapper {
  max-width:1200px;
  width:80%;
  margin:0 auto;
}
.page1 {
  min-height:100vh;
  background-image: url('./assets/backgroundImagePage1.jpg');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainOptions {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top:7%;
}

h1 {
  text-align: center;
  font-size:4rem;
  letter-spacing: 3px;
  color:whitesmoke;
  margin:0;
  padding-top:100px;
}

.firstOption,
.secondOption,
.thirdOption {
  border:none;
  width:300px;
  background-color:beige;
  margin: 0 40px;
  display:inline-block;
  padding-top:30px;
  padding-bottom:370px;
  border-radius: 5px;
  font-size:2.2rem;
  font-weight: 900;
  margin-bottom:100px;
}

.firstOption {
  background-image: url("./assets/latestLaunches.gif");
  background-position: center;
}

.secondOption {
  background-image: url("./assets/pastLaunches.gif");
  background-position: center;
  color:white;
}

.thirdOption {
  background-image: url("./assets/upcomingRocket.gif");
  background-position: center;
  color:white;
}


/* Page2 Edits */
.page2 {
  background-color:#0e1111;
  position:relative
}

i {
  position:fixed;
  border-radius: 70px;
  padding:15px;
  font-size:4rem;
  background-color:#f0386b;
  color:white;
  bottom: 45px;
  right: 40px;
  transform: rotate(-45deg);
}

h2 {
  margin:0;
  color:white;
  text-align: center;
  font-size:3rem;
  padding-top:60px;
  padding-bottom:40px;
}

.firstRowRocketList,
.secondRowRocketList {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.firstRowRocketList a,
.secondRowRocketList a {
  border:0;
  padding:0;
  text-decoration: none;
}

.rocketsList {
  height:300px;
  width:200px;
  color:black;
  margin:30px;
  text-align: center;
  background-color:darkcyan;
  border-radius: 4px;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  font-size:1.6rem;
  margin-bottom:60px;
}

.topHalf {
  background-color: #087e8b;
  color:white;
  display:flex;
  flex-direction: column;
  align-items: stretch;
  font-weight: 900;
  font-size:1.8rem;
}

.missionName {
  background-color: #ff5a5f;
  /* color:white; */
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

.missionStatus {
  background-color: #f5f5f5;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}

/* Page3 Edits */
.page3 {
  background-color:lightseagreen;
  color:darkmagenta;
}

.page3Header {
  margin-top:0;
  padding-top:50px;
  font-size:3.3rem;
  text-align: center;
  color:black;
  letter-spacing: 5px;
  margin-bottom:30px;
}

.page3Halves {
  display:flex;
}

.leftHalfPage3 {
  width:calc(50% - 10px);
  margin-right:10px;
  margin-bottom:20px;
}

.rightHalfPage3 {
  width:calc(50% - 10px);
  margin-left:10px;
  background-color:blanchedalmond;
  font-size:1.8rem;
  padding-left:30px;
  padding-right:30px;
  color:black;
  margin-bottom:20px;
}

.rightHalfPage3 p {
  color:crimson;
}

.rightHalfPage3 span {
  color:black;
  font-weight: 900;
}

.notApplicable {
  font-weight: 100;
}

.rocketImage {
  text-align: center;
}

.topHalfPage3launchVideo {
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  width:100%;
}

.topHalfPage3launchVideo Reactplayer {
  width:100%;
  height:auto;
  text-align: center;
  margin:0 auto;
}

.rocketImage img{
   max-width:100%;
   max-height:50vh;
}

.firstOption:hover,
.secondOption:hover,
.thirdOption:hover {
  transform:scale(1.05);
  transition:all 0.35s ease-in-out;
}

/* Footer */
footer {
  background-color:#111;
  color:white;
  text-align: center;
  font-size:1.8rem;
  padding:10px 0px;
  font-weight: 700;
}

@media(max-width: 550px){
  h1 {
    font-size:3.5rem;
  }

  .firstOption, .secondOption, .thirdOption {
    width:280px;
  }

  i {
  font-size:3rem;
  bottom: 45px;
  right: 20px;
  border:1px solid black;
}
}

@media(max-width: 800px) {
  .page3Halves {
    display:flex;
    flex-direction: column;
    align-items:center;
  }

  .rightHalfPage3 {
    margin-left:0;
    width:100%;
  }

  .leftHalfPage3 {
    width:100%;
  }

  .topHalfPage3launchVideo {
  margin-bottom: 20px;
  display:flex;
  justify-content: center;
  width:auto;
}
}